.services_provided {
        background-image: url(../../img/Services\ Provided/services_provided_bg.png);
        background-repeat: round;
        color: white;
        padding: 10px 40px;
}
.services_provided_block {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 50%;
        margin-left: 40%;
}

