/* home */
.home {
        background-image: url(../../img/header/home_bg.png);
        height: 500px;
        background-repeat: round;
        color: white;
        padding: 30px;
}
.home ul {
        display: grid;
        grid-template-columns: repeat(4, 4fr) 75%;
        grid-gap: 10px;
}
