.strategic {
        padding: 10px 40px;
}
.bot_blocks {
        padding: 0 40px;
}
.bot_block_our_process, .bot_block_method, .bot_block_outcome {
        display: grid;
        grid-template-columns: 1fr 1fr;
}
