/* contact_us */
.contact_us {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: #fff;
}
.contact_us_map {
        background-image: url(../../img/Contact\ Us/Layer\ 42.png);
}
.contact_us_content {
        background-color: #2046B3;
        padding: 10px 40px;
}
.contact_us_content form {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
                "content_text content_text"
                "content_tel content_email"
                "your_message your_message"
        ;
}
.contact_us_content_text {
        grid-area: content_text;
}
.contact_us_content_your_message {
        grid-area: your_message;
}
.contact_us_content_tel {
        grid-area: content_tel;
}
.contact_us_content_email {
        grid-area: content_email;
}
.btn_warning {
        background-color: #FFC600;
        width: 100px;
}
.contact_us_ul {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 20% 1fr;
}

